<form name="changePasswordForm" action="changepassword" method="post">
    <div class="container">
        <h3>Log in </h3>
        <div class="row">
            <div class="input-field col s6">
                Old Password:
                <input type="password" name="oPassword" required>
                <label for="oPassword"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                New Password:
                <input type="password" name="nPassword" required>
                <label for="nPassword"></label>
            </div>
        </div>
        <div class="row">
            <button class="btn" type="submit" value="Log in">Log in</button>
        </div>
    </div>
</form>