<form name="loginForm" action="login" method="post">
    <div class="container">
        <h3>Log in </h3>
        <div class="row">
            <div class="input-field col s6">
                User Name:
                <input type="text" name="user_name" required>
                <label for="user_name"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                Password:
                <input type="password" name="password" required>
                <label for="password"></label>
            </div>
        </div>
        <div class="row">
            <button class="btn" type="submit" value="Log in">Log in</button>
        </div>
    </div>
</form>