<form name="signupForm" action="signup" method="post">
    <div class="container">
        <h3>Sign Up</h3>
        <div class="row">
            <div class="input-field col s6">
                User Name:
                <input type="text" name="user_name" required>
                <label for="user_name"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                First Name:
                <input type="text" name="first_name" required>
                <label for="first_name"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                Last Name:
                <input type="text" name="last_name" required>
                <label for="last_name"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                Email:
                <input type="email" name="email" required>
                <label for="email"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                Password:
                <input type="password" name="password" required>
                <label for="password"></label>
            </div>
        </div>
        <div class="row">
            <button class="btn" type="submit">Sign Up</button>
        </div>
    </div>
</form>