body {
    background: #040f04;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    
}
h3 {
  font-family: 'Oswald', sans-serif;
  color: rgb(22, 153, 29);
}
.index {
    width: 100vw;
    height: 100vh;
}

.navbar {
    background: rgb(8, 114, 13) !important;
}

.nav-link {
    color: rgb(2, 29, 12) !important;
}

.masthead {
    color: rgb(255, 255, 255);
    min-height: 20rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i3D.1Ulq7tNY/v1/1000x-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 9rem;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 6rem;
    }
  }